<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Upgrade membership status</h1>
    <form action="/passcode" method="post">
      <label
        >Username: <input type="text" name="username" required minlength="1"
      /></label>
      <label for=""
        >Passcode:
        <input type="text" name="passcodeEntry" required minlength="1"
      /></label>
      <button>Submit</button>
    </form>
  </body>
</html>
