<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Account Registration</h1>
    <form action="/signup" method="post">
      <label
        >Username: <input type="text" required minlength="1" name="username"
      /></label>
      <label
        >First Name: <input name="firstName" required minlength="1"
      /></label>
      <label>Last Name: <input name="lastName" required minlength="1" /></label>
      <label
        >Password:
        <input required minlength="6" name="password" type="password"
      /></label>
      <label
        >Confirm Password:
        <input required minlength="6" name="confirmPassword" type="password"
      /></label>
      <label>Is Admin? <input type="checkbox" name="admin"/></label>
      <button>Submit</button>
    </form>
  </body>
</html>
